.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

input {
  margin: 5px 0;
}

input:invalid {
  box-shadow: 0 0 5px red;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin: 10px;
}
