nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  background-color: rgba(57, 92, 81, 0.7);
  color: #fff;
  width: 150px;
  height: fit-content;
  text-align: center;
  padding: 10px;
}

li {
  padding: 10px 0;
}

.menu-click li {
  display: none;
}

.menu-click.visible li {
  display: block;
}

.menu-hover li {
  display: none;
}

.menu-hover.visible li {
  display: block;
}
